@page "/"

<PageTitle>Index</PageTitle>

<div class="mi-clase">
    <p>Div with class mi-clase. Text with font-size 12px</p>
    <EntendiendoCssIsolated.Components.MainComponent1 />
</div>
<div>
    <p>Div with no class. SonComponent shows with font-size 12px and centered</p>
    <EntendiendoCssIsolated.Components.SonComponent />
</div>

